body{
    margin:0%;
    
}

image{
    position: absolute;
    text-align: center;
}

h1{
    margin-left: 30%;
   color: #441a03;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

table{
    width: 70%;
    height: 70%;
    border: 49px solid #462921;
    border-collapse:separate;
    
    margin :5% 10% 10% 10%
}

th{
    background:#7d694c;
}

tr,td{
    border: 1px solid black;
}
td{
    text-align: left;
    padding: 2.9%;
    
    
}

.black{
    background-color:#725122;
    
}

.white{
    background-color: #b5915f;
}

td:hover{
    background-color: rgba(0, 0, 0, 0.171);
}

/* tr:nth-of-type(even) td:nth-of-type(even),tr:nth-of-type(odd) td:nth-of-type(odd) {
    background-color:#440303;
}   */

tr:nth-of-type(even) td:nth-of-type(even):hover{
    background-color:#72512267
}
tr:nth-of-type(odd) td:nth-of-type(odd):hover{
    background-color:#72512267

}

.onIt{
    background: rgba(252, 151, 0, 0.966);
}

.options{
    background: rgba(245, 173, 65, 0.966);
}